@charset "UTF-8";

@import "settings";

body {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--grey);
}




//NAVBAR
.navbar {
  transition: box-shadow 0.5s ease;
}


a.link-custom {

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

a.link-color-current {
  color: $current_link;
  border-bottom: 2px solid rgba(16, 201, 195, 0);
  transition: border-bottom 0.2s ease;

  &:hover {
    border-bottom: 2px solid rgba(16, 201, 195, 1);
  }
}

a.link-color-normal {
  color: $normal_link;
  border-bottom: 2px solid rgba(25, 25, 25, 0);
  transition: border-bottom 0.2s ease;
  &:hover {
    border-bottom: 2px solid rgba(25, 25, 25, 1);
  }
}




//SECTION HEADER

.bg-section-custom {
  background-color: $grey_bg;
}
.mt-section-custom {
  margin-top: 110px;
}
.custom-padding-10 {
  padding: 6rem 0;
}
.custom-padding-11 {
  padding: 7rem 0;
}
.custom-padding-12 {
  padding: 8rem 0;
}




// SECTION PORTFOLIO

.custom-portfolio-element {
  width: auto;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-fluid-custom {
  padding: 0;
}
.icon-custom {
  color: var(--white);
  font-size: 4rem;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.2s ease;
}
.element-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(25, 200, 200, 0);
  text-decoration: none;
  transition: all 0.2s ease;


  &:hover {
    background-color: rgba(25, 200, 200, 0.7);
    text-decoration: none;

    .icon-custom {
      opacity: 1;
      transform: translateY(0);
    }
  }

}


// SECTION ABOUT

.me-custom {
  background: url("../images/me.jpg") no-repeat center/cover;
}

.presentation-custom {
  background: url("../images/vase.jpg") no-repeat center/cover;
  min-height: 300px;
}


.detail-custom {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  padding-left: 70px;
  text-transform: uppercase;

}
.briefcase:before {

    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3rem;
    top: 0;
    left: 5px;
    content: "\f0b1";

  }

.star:before  {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-size: 3rem;
  top: 0;
  left: 5px;
  content: "\f005";
}

.clock:before  {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-size: 3rem;
  top: 0;
  left: 5px;
  content: "\f017";
}

.heart:before  {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-size: 3rem;
  top: 0;
  left: 5px;
  content: "\f004";
}


// SECTION PROJECT

.project-custom {
  background: url("../images/breakfast.jpg") no-repeat left center/cover;
  min-height: 400px;
}

a.arrow-custom {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: var(--gray-dark);
  transition: color 0.2s ease;

  &:hover {
    color: var(--gray);
  }
}

// SECTION FOOTER
.footer-custom {
  background-color: $footer_bg;
}

.footer-element-custom {
&>p {
  color: $footer_text_color;
}
  &>ul {
    &>li {
      font-family: 'Nunito Sans', sans-serif;
      color: $footer_text_color;
    }
  }
}

